.calculator {
    background-color: gray;
    max-width: fit-content;
    max-height: fit-content;
    margin: 4% auto;
    font-family: monospace;
    letter-spacing: 5px;
    font-size: 1.8em;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 2px;
    border-radius: 4px;
    border-style: groove;
    border-color: rgb(139, 74, 74);
    
    .input {
        letter-spacing: normal;
        background-color: white;
        height:40px;
        width: 210px;
        margin: 5px 5px;
        border-radius: 4px;
        border-style: inset;
        
    }

    .operators{
        display: flex;
        flex-direction: row;
        div {
            background-color: white;
            width:40px;
            height: 20px 5px;
            margin: 5px 5px;
            padding-left: 3px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 4px;
            border-style: outset;
            border-top: none;
            border-left: none;
            &:hover {
                border-style: inset;
                border-bottom: none;
                border-right: none;
            }
        }
    }

    .bottom_panel {
        display: flex;
        flex-direction: row;
        .numbers_panel {
            .numbers{
                display: flex;
                flex-direction: row;
                div {
                    background-color: white;
                    width:40px;
                    height: 20px 5px;
                    margin: 5px 5px;
                    padding-left: 3px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    border-radius: 4px;
                    border-style: outset;
                    border-top: none;
                    border-left: none;
                    &:hover {
                        border-style: inset;
                        border-bottom: none;
                        border-right: none;
                    }
                }
            }
        }
        .equals {
            background-color: white;
            text-align: center;
            width: 40px;
            height: 145px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            margin: 5px 5px;
            padding-left: 3px;
            border-radius: 4px;
            border-style: outset;
            border-top: none;
            border-left: none;
            &:hover {
                border-style: inset;
                border-bottom: none;
                border-right: none;
            }
        }
    }
}